@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("../../public/fonts/NTR-Regular.ttf") format("truetype");
}


#about {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 25%;
  min-height: 60vh;
}

.about-description ul {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-description li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: var(--slate);
}

.about-description li::before {
  content: "⭔    ";
  color: var(--pink-bright);
  position: absolute;
  left: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.about-description {
  font-family: "NTR", sans-serif;
  color: var(--slate);
  max-width: 600px;
  font-size: 22px;
  text-align: justify;
  margin: 0;
}

.about-description a,
.about-description b {
  font-size: 21px;
  font-weight: bold;
}

.ryan_portrait {
  padding-left: 40px;
}

.ryan_portrait img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

.image_off, #ryan_portrait:hover .image_on{
  display:none;
}
.image_on, #ryan_portrait:hover .image_off{
  display:block;
}

@media only screen and (max-width: 788px) {
  .ryan_portrait img {
    max-width: 200px;
  }
}

.ryan_portrait:hover {
  transform: translateY(-5px);

}

@media only screen and (max-width: 600px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .about-description {
    font-size: 18px;
    text-align: justify;
  }

  .about-description a,
  .about-description b {
    font-size: 17px;
  }

  .ryan_portrait img {
    display: none;
  }

  .about-content {
    display: unset;
  }
}
