@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("../public/fonts/NTR-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

